.search-container {
    background-color: #121010;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #121010;
}

.search-bar-input {
    font-size: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    color: #999999;
    background-color: #333333;
    border: 1px solid #444444;
    margin: 50px 0;
}

.search-bar-button {
    font-size: 40px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #303030;
    border: 1px solid #444444;
    color: #00ff00;
    font-weight: bold;
}

.search-results {
    background-color: #121010;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 300px;
    margin: 25px;
    background-color: #ffcc00ad;
    border-radius: 20px;
    ;
}

.search-result-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-result-name {
    color: rgb(34, 36, 36);
    font-weight: bold;
    font-size: 25px;
}

/* ERROR MESSAGE */
.error-container {
    margin: 0 auto;
    text-align: center;
}

.error-message {
    font-size: 4em;
    color: #00ff00;
}

.text-search{
    color:#00ff00;
    font-size: 5em;
    margin: 0;
}