.search-container {
    background-color: #121010;
    height: 100vh;
}

/* SEARCH BAR  */
.search-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    background-color: #121010;
}

.search-bar-input {
    font-size: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    color: #999999;
    background-color: #333333;
    border: 1px solid #444444;
    margin: 50px 0;
}

.search-bar-button {
    font-size: 40px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #303030;
    border: 1px solid #444444;
    color: #00ff00;
    font-weight: bold;
}

.suggestion-list {
    position: absolute;
    top: 100%;
    /* left: 30.6%; JUST IN CASE,IF I WANT TO ADD RESPONSIVE DESING*/
    display: flex;
    flex-direction: column; 
    /* width: 100%; */
    width: 600px;
    max-width: 500px;
    color: #999999; 
    background-color: #333333;
    border: 1px solid #444444;
    list-style: none;
    z-index: 1;
}

.suggestion-list li{
    padding: 8px;
}

.suggestion-list li:hover{
    background-color: #999995;
    width: 95%;
    color: #00ff00;
    cursor: pointer;
}

/* ERROR MESSAGE */
.error-container {
    margin: 0 auto;
    text-align: center;
}

.error-message {
    font-size: 4em;
    color: #00ff00;
}

.text-search {
    text-align: center;
    color: #00ff00;
    font-size: 3em;
    margin: 0;
}

.total-and-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}